<main>
  <div class="pp">
    <div class="ppp" [class.img1]="check0" [class.img2]="check1" [class.img3]="check2" [class.img4]="check3">
  </div>
</div>

  <div class="hr">

  </div>
  <div class="content">
  <div class="metin">
    <h1 class="pageName">
      About Me
    </h1>
    <h1>
      Hello, I'm Faruk.
    </h1>
    <h3>
      I am a <span class="bold">Web Developer</span>  | <span class="bold">Fronted</span>
    </h3>
    <p>
      I'm from <span class="bold" style="color:red ; ">Turkey</span> , I'm 19 years old, I've been working in web development for 2 years.<br/>
      I have <span class="bold">HTML</span> , <span class="bold">CSS</span>, <span class="bold">JAVASCRIPT</span>, <span class="bold">TYPESCRIPT</span>, <span class="bold">ANGULAR</span> experience.
    </p>
    <div class="rsm">
    <div class="bio  wh" (mousemove)="myFunction0()" (mouseleave)="myFunctionn0()"></div>
    <div class="bio1 wh" (mousemove)="myFunction1()" (mouseleave)="myFunctionn1()"></div>
    <div class="bio2 wh" (mousemove)="myFunction2()" (mouseleave)="myFunctionn2()"></div>
    <div class="bio3 wh" (mousemove)="myFunction3()" (mouseleave)="myFunctionn3()"></div>
    </div>
    <app-social-media></app-social-media>
  </div>

  </div>
  </main>
