<h1>
  Set Firebase Links If You Want To Use This Page
</h1>
<!-- <main>
  <app-pp></app-pp>
  <div class="hr">

  </div>
  <div class="content">
    <h1>Contact Me</h1>
    <div>
      <form [formGroup]="contactForm" class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select formControlName="subject">
            <mat-option value="Business">Business</mat-option>
            <mat-option value="Sales">Sales</mat-option>
            <mat-option value="Career">Career</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput formControlName="message"></textarea>
        </mat-form-field>
        <button type="reset" mat-raised-button color="primary" [disabled]="contactForm.invalid" (click)="submitData(contactForm.value)">Send Message</button>

        <p *ngIf="isSubmit" class="submitMessage">{{ submitMessage }}</p>
      </form>
    </div>

  <div>
    <app-social-media></app-social-media>
  </div>

  </div>
</main>
 -->
